@import './variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-light);
  color: var(--text-dark);
  line-height: 1.6;
  
}


.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  color: var(--text-muted);
  margin-bottom: 2.5rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius-sm);
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color var(--transition-fast);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--bg-white);
}

.btn-primary:hover {
  background-color: #bf360c;
}

.btn-secondary {
  background-color: var(--primary-color);
  color: var(--bg-white);
}

.btn-secondary:hover {
  background-color: var(--primary-hover);
}

.wrapperMedia{
  display: grid;
  place-items: center;
  margin-bottom: 20px ;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}